{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block body %}
    
    <h1>PRODUCTOS DE LA CATEGORIA</h1>
    
    {% if productos is empty %}
        <p>No hay productos en esta categoría.</p>
    {% else %}
        <ul>
            {% for producto in productos %}
        <li>
            <p><a href="{{ path('detalles', {'productos':producto.getId()}) }}">{{ producto.getNombre() }}</a></p>
            Precio: {{ producto.getPrecio() }} €<br>
            Descripción: {{ producto.getDescripcion() }}
        </li>
    {% endfor %}
        </ul>
    {% endif %}

    <p><a href="{{ path('categorias') }}">Volver a categorías</a></p>
{% endblock %}
