{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block body %}
    
    {% include 'cabecera.html.twig' %}
    
<h1>PRODUCTOS DE LA CATEGORÍA</h1>

<form action="{{ path('anadir') }}" method="POST">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Unidades</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.getNombre() }}</td>
                    <td>{{ producto.getPrecio() }} €</td>
                    <td>{{ producto.getDescripcion() }}</td>
                    <td>
                        {# Cada input tiene como key el ID del producto #}
                        <input type="number" name="unidades[{{ producto.getId() }}]" value="0" min="0">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <input type="submit" name="enviar" value="Añadir a la cesta">
</form>

{% endblock %}
